/*.container {*/
  /*color: #484848;*/
  /*line-height: 1.28;*/
  /*font-size: 1.2em;*/
/*}*/


.grails-icon img {
  height: 27px;
  background-image: url("../images/grails-cupsonly-logo-white.svg");
}


a {
  color: #db4800;
  text-decoration: underline;
}

a:hover {
  color: #db4800;
  text-decoration: none
}


#content section h1 {
  font-size: 34px;
  line-height: 40px;
  font-weight: 200;
  text-align: center;
  margin: 0;
  padding: 20px 0;
}

#content section p {
  margin-top: 0;
  padding-bottom: 5px;
  text-align: center;
  color: #222;
  font-size: 15px;
  line-height: 25px;
}

#controllers a {
  text-decoration: underline;
}

#controllers a:hover {
  text-decoration: none;
}

.grails-logo-container {
  background:#79b94c no-repeat 50% 30%;
  margin-bottom: 20px;
  color: white;
  height:300px;
  text-align:center;
}

/*img.grails-logo {*/
/*height:340px;*/
/*margin-top:-10px;*/
/*}*/

.navbar {
  border: none;
  border-radius: none;
}

.nav-link {
  padding: .5rem;
  border-radius: 3px;
}

.nav-link:hover, .nav-link:active {
  background-color: #db4800;
}

.grails-icon img {
  height: 27px;
  background-image: url("../images/grails-cupsonly-logo-white.svg");
}

.plus-logo {
  font-size: 10rem;
  margin-left: -100px;
  margin-right: -13px;
}

.hero-logo {
  width: 161px;
  margin-right: -161px;
  margin-bottom: 88px;
}

.navbar a.dropdown-toggle {
  color:  white!important;
  text-shadow: none;
}

.navbar .open a.dropdown-toggle {
  color: black!important;
  text-shadow: none;
}

.navbar .navbar-brand {
  color:  white!important;
  text-shadow: none;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.container-fluid.full {
  padding-left: 0;
  padding-right: 0;
}


.col-0, .col-sm-0, col-md-0, col-lg-0 {
  width: 0px !important;
  height: 0px !important;
  left: -1000px;
  opacity: 0;
}

.leftZero {
  left: 0px !important;
}

@media (min-width: 1640px) {
  .col-xxl-1 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.333333%;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .col-xxl-2 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.666667%;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-xxl-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-xxl-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.333333%;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-xxl-5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.666667%;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col-xxl-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-xxl-7 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.333333%;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .col-xxl-8 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.666667%;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-xxl-9 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-xxl-10 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.333333%;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .col-xxl-11 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 91.666667%;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .col-xxl-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}


@media (max-width: 767px) {

  .hero-logo {
    display: none;
  }

  .plus-logo {
    display: none;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: white!important;
  }

  .navbar-toggle .icon-bar {
    background-color: white!important;
  }


}


/* Hack for Safari flexbox issue */
.profileContainer {
  margin-left: -1px !important;
  padding-left: 1px !important;
}


/* Hide classes */

.hidden-xl-down {
  display: none !important;
}
@media (min-width: 1200px) {
  .hidden-xl-up {
    display: none !important;
  }
}
@media (max-width: 1199px) {
  .hidden-lg-down {
    display: none !important;
  }
}
@media (min-width: 992px) {
  .hidden-lg-up {
    display: none !important;
  }
}
@media (max-width: 991px) {
  .hidden-md-down {
    display: none !important;
  }
}
@media (min-width: 768px) {
  .hidden-md-up {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .hidden-sm-down {
    display: none !important;
  }
}
@media (min-width: 544px) {
  .hidden-sm-up {
    display: none !important;
  }
}
@media (max-width: 543px) {
  .hidden-xs-down {
    display: none !important;
  }
}
.hidden-xs-up {
  display: none !important;
}

@media (max-width: 365px) {
  .nav .companyTitle {
    padding: 5px 8px;
  }
  .nav .rightNavIcons {
    padding: 5px;
  }
}