@import '../../custom.config.scss';

.cycleCountContainer {
  margin: 20px 0px 10px;
  .cycleCount {
    display: flex;
    height: 40px;
    padding: 3px;
    border-radius: 4px;
    background-color: $background-color;
    .cycleCountGauge {
      display: flex;
      background-color: $valid-color;
      border-radius: 4px;
      &.warning {
        background-color: $warning-color;
      }
    }
  }
  .cycleCountLabel {
    display: flex;
    justify-content: center;
    font-weight: bold;
  }
}
