.cycleCountContainer {
  margin: 20px 0px 10px; }
  .cycleCountContainer .cycleCount {
    display: flex;
    height: 40px;
    padding: 3px;
    border-radius: 4px;
    background-color: #e8e8e8; }
    .cycleCountContainer .cycleCount .cycleCountGauge {
      display: flex;
      background-color: #17a71d;
      border-radius: 4px; }
  .cycleCountContainer .cycleCountLabel {
    display: flex;
    justify-content: center;
    font-weight: bold; }
