.valveIconWrapper {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  .iconContainer {
    display: flex;
    align-content: stretch;
    width: 88px;
    height: 88px;
    font-size: 10px;
    .valveIconContainer {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: center;
      align-items: stretch;
      margin: 8px;
      padding: .3em;
      border-radius: 50%;
      border: 1px solid rgba(231, 231, 231, 0.26);
      background-color: rgba(231, 231, 231, 0.98);
      .valveIconBorder {
        display: flex;
        flex: 1;
        align-items: stretch;
        border-radius: 50%;
        border: 1px solid rgba(68, 68, 68, 0.35);
        box-shadow: inset 0px 0px .1em .1em rgba(68, 68, 68, 0.25);
        background-color: white;
        .valveIconCheck {
          display: flex;
          justify-content: center;
          flex: 1;
          top: calc(50% - 24px);
          align-items: center;
          color: #17a71d;
          .material-icons {
            font-size: 3em;
          }
        }
      }
    }
  }
  .valveIconLabel {
    display: flex;
    position: relative;
    top: -7px;
    text-align: center;
  }
}

.warning {
  &.valveIconContainer {
    border: 1px solid red;
    background-color: red;
  }
  .valveIconBorder {
    display: flex;
    justify-content: center;
    border: 1px solid red;
    background-color: red;
    .valveIconCheck {
      display: flex;
      justify-content: center;
      color: green;
      font-weight: bold;
    }
  }
}