@keyframes makeActive {
  0% {
    background-color: #666666;
  }
  100% {
    background-color: #17a71d;
  }
}

.valveWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  flex-grow: 1;
  padding: 20px 0px;
  border-top: 1px solid #666666;
  border-bottom: 1px solid #666666;
  cursor: pointer;
  &.active {
    &::before {
      content: '';
      position: absolute;
      z-index: 100;
      bottom: -1px;
      left: calc(50% - 14px);
      display: block;
      width: 0px;
      height: 0px;
      border-top: 14px solid transparent;
      border-right: 14px solid transparent;
      border-bottom: 14px solid #666666;
      border-left: 14px solid transparent;
    }
    &::after {
      content: '';
      position: absolute;
      z-index: 101;
      bottom: -1px;
      left: calc(50% - 12px);
      display: block;
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 0px 12px 12px 12px;
      border-color: transparent transparent #444444 transparent;
    }
  }
  .valveContainer {
    position: relative;
    display: flex;
    padding: 15px 0px;
    margin: 2px;
    height: 125px;
    width: 34px;
    border-radius: 4px;
    background-color: #666666;
    .valveIndicator {
      position: absolute;
      left: 13px;
      top: 15px;
      height: 8px;
      width: 8px;
      border-radius: 50%;
      background-color: #17a71d;
    }
    .valveActiveIndicator {
      position: absolute;
      bottom: 0px;
      width: 34px;
      height: 90px;
      background-color: #17a71d;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      animation-name: makeActive;
      animation-duration: 1s;
    }
    .valveLabel {
      position: absolute;
      bottom: 0px;
      color: #fbfdfb;
      width: 100%;
      padding: 0px 0px 8px;
      font-size: 15px;
      font-weight: bold;
      text-align: center;
    }
  }
}

.valveEmptyContainer {
  display: flex;
  justify-content: center;
  padding: 0px 0px 15px;
  margin: 2px;
  height: 125px;
  width: 34px;
  border-radius: 4px;
  border: 3px solid #666666;
  background-color: #444444;
  align-items: center;
  .material-icons {
    margin-top: 110px;
    font-size: 14px;
    color: #666666;
  }
}