.profilePicture {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  img {
    width: 120px;
    height: 120px;
    border: 5px solid black;
    border-radius: 50%;
  }
  .editProfilePicture {
    position: absolute;
    top: 90px;
    right: calc(50% - 60px);
    display: flex;
    justify-content: center;
    width: 32px;
    height: 32px;
    padding: 5px 0px;
    background-color: white;
    border: 3px solid #fdaa18;
    border-radius: 50%;
    cursor: pointer;
    .material-icons {
      font-size: 18px;
      color: #696969;
    }
  }
}
