div.alertBar {
  height: calc(100vh - 46px);
  overflow-y: auto;
  background-color: #444444;
  border-left: 1px solid #222;
  color: white;
  div.alertsContainer {
    .alert {
      display: flex;
      align-items: center;
      flex: 1;
      justify-content: space-between;
      margin: 15px;
      padding: 10px;
      box-shadow: none;
    }
    .alert-danger {
      background: #ba2316;
      color: white;
      border: 1px solid #7f332d;
      cursor: pointer;
    }
    .alert-info {
      background: #777;
      color: white;
      border: 1px solid #555;
    }
    .alert.disabled {
      background: #555;
      color: #777;
      border: 1px solid #555;
    }
    .alert-content {
      line-height: 13px;
      text-shadow: none;
      flex-grow: 1;
    }
    .alert-details {
      font-size: 9px;
    }

    .alert-icon-left {
      margin-right: 10px;
    }

    .alert-icon-right {
      margin-left: 10px;
      cursor: pointer;
    }
    .alerts-enter {
      opacity: 0.01;
    }

    .alerts-enter.alerts-enter-active {
      opacity: 1;
      transition: 600ms;
    }

    .alerts-leave {
      opacity: 1;
    }

    .alerts-leave.alerts-leave-active {
      opacity: 0.01;
      transition: 600ms;
    }
    .snoozeWrapper {
      position: relative;
      .snoozeOptions {
        border: 1px solid #333;
        position: absolute;
        width: 180px;
        background: #777;
        color: #fff;
        right: -18px;
        top: 10px;
        z-index: 999;
        border-radius: 6px;
        li {
          list-style: none;
          font-size: 18px;
          line-height: 40px;
          padding-left: 10px;
          border-top: 1px solid #333;
        }
        li:hover {
          background: #444;
        }
        li:first-child {
          border-top: none;
          border-top-left-radius: 3px;
          border-top-right-radius: 3px;
        }
        li:last-child {
          border-bottom-left-radius: 3px;
          border-bottom-right-radius: 3px;
        }
      }
      .snoozeOverlay {
        position: fixed;
        z-index: 990;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(255,255,255,0.7);
      }
    }

    .snoozeWrapper.closed {
      .snoozeOverlay {
        display: none;
      }
      .snoozeOptions {
        display: none;
      }
    }
    .snoozeWrapper.open {
      .snoozeOverlay {
        display: block;
      }
      .snoozeOptions {
        display: block;
      }
    }
  }
}