div.alertBar {
  height: calc(100vh - 46px);
  overflow-y: auto;
  background-color: #444444;
  border-left: 1px solid #222;
  color: white; }
  div.alertBar div.alertsContainer .alert {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: space-between;
    margin: 15px;
    padding: 10px;
    box-shadow: none; }
  div.alertBar div.alertsContainer .alert-danger {
    background: #ba2316;
    color: white;
    border: 1px solid #7f332d;
    cursor: pointer; }
  div.alertBar div.alertsContainer .alert-info {
    background: #777;
    color: white;
    border: 1px solid #555; }
  div.alertBar div.alertsContainer .alert.disabled {
    background: #555;
    color: #777;
    border: 1px solid #555; }
  div.alertBar div.alertsContainer .alert-content {
    line-height: 13px;
    text-shadow: none;
    flex-grow: 1; }
  div.alertBar div.alertsContainer .alert-details {
    font-size: 9px; }
  div.alertBar div.alertsContainer .alert-icon-left {
    margin-right: 10px; }
  div.alertBar div.alertsContainer .alert-icon-right {
    margin-left: 10px;
    cursor: pointer; }
  div.alertBar div.alertsContainer .alerts-enter {
    opacity: 0.01; }
  div.alertBar div.alertsContainer .alerts-enter.alerts-enter-active {
    opacity: 1;
    transition: 600ms; }
  div.alertBar div.alertsContainer .alerts-leave {
    opacity: 1; }
  div.alertBar div.alertsContainer .alerts-leave.alerts-leave-active {
    opacity: 0.01;
    transition: 600ms; }
  div.alertBar div.alertsContainer .snoozeWrapper {
    position: relative; }
    div.alertBar div.alertsContainer .snoozeWrapper .snoozeOptions {
      border: 1px solid #333;
      position: absolute;
      width: 180px;
      background: #777;
      color: #fff;
      right: -18px;
      top: 10px;
      z-index: 999;
      border-radius: 6px; }
      div.alertBar div.alertsContainer .snoozeWrapper .snoozeOptions li {
        list-style: none;
        font-size: 18px;
        line-height: 40px;
        padding-left: 10px;
        border-top: 1px solid #333; }
      div.alertBar div.alertsContainer .snoozeWrapper .snoozeOptions li:hover {
        background: #444; }
      div.alertBar div.alertsContainer .snoozeWrapper .snoozeOptions li:first-child {
        border-top: none;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px; }
      div.alertBar div.alertsContainer .snoozeWrapper .snoozeOptions li:last-child {
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px; }
    div.alertBar div.alertsContainer .snoozeWrapper .snoozeOverlay {
      position: fixed;
      z-index: 990;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: rgba(255, 255, 255, 0.7); }
  div.alertBar div.alertsContainer .snoozeWrapper.closed .snoozeOverlay {
    display: none; }
  div.alertBar div.alertsContainer .snoozeWrapper.closed .snoozeOptions {
    display: none; }
  div.alertBar div.alertsContainer .snoozeWrapper.open .snoozeOverlay {
    display: block; }
  div.alertBar div.alertsContainer .snoozeWrapper.open .snoozeOptions {
    display: block; }
