.dropdownContainer {
  position: relative;
  display: inline-block;
  border-right: 1px solid rgba(111, 111, 111, 0.5);
  overflow-y: scroll; }
  .dropdownContainer .dropdownItem {
    display: flex;
    flex-direction: row;
    padding: 10px 20px;
    min-width: 140px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer; }
  .dropdownContainer .dropdownOptions {
    display: none;
    position: absolute;
    top: 0;
    left: -5%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    background-color: #eeeeee; }
    .dropdownContainer .dropdownOptions.show {
      display: flex;
      width: 110%; }
    .dropdownContainer .dropdownOptions .dropdownItem:hover {
      background-color: rgba(255, 255, 255, 0.66); }
  .dropdownContainer .selectedDropdownOption {
    display: flex;
    background-color: #eeeeee;
    color: black; }
  .dropdownContainer .labelWrapper {
    padding: 5px 0px;
    white-space: nowrap; }
  .dropdownContainer .iconWrapper {
    padding: 5px 0px 5px 0px;
    color: #fdaa18;
    cursor: pointer; }
