@import '../../custom.config.scss';

.dropdownContainer {
  position: relative;
  display: inline-block;
  border-right: 1px solid rgba(111, 111, 111, 0.5);
  .dropdownItem {
    display: flex;
    flex-direction: row;
    padding: 10px 20px;
    min-width: 140px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
  .dropdownOptions {
    display: none;
    position: absolute;
    top: 0;
    left: -5%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, .2);
    background-color: #eeeeee;
    &.show {
      display: flex;
      width: 110%;
    }
    .dropdownItem:hover {
      background-color: rgba(255, 255, 255, .66);
    }
  }
  .selectedDropdownOption {
    display: flex;
    background-color: #eeeeee;
    color: black;
  }
  .labelWrapper {
    padding: 5px 0px;
  }
  .iconWrapper {
    padding: 5px 0px 5px 0px;
    color: $primary-color;
    cursor: pointer;
  }
}
