.background {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(111, 111, 111, 0.7);
  height: 100vh;
  width: 100vw;
  z-index: 9999; }
  .background > * {
    background-color: white;
    padding: 28px;
    border-radius: 5px; }
