@import '../../custom.config.scss';

.valveIconWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 12px;
  &.clickable {
    cursor: pointer;
    &:hover {
      .valveIconBorder {
        background-color: rgba(226, 226, 226, 0.98) !important;
      }
    }
  }
  &.large {
    .iconContainer {
      width: 120px;
      height: 120px;
      font-size: 17px;
    }
    .valveIconLabel {
      top: 0px;
      font-size: 15px;
      font-weight: bold;
      color: rgb(126, 126, 126);
    }
  }
  .iconContainer {
    display: flex;
    align-content: stretch;
    width: 88px;
    height: 88px;
    font-size: 10px;
    .valveIconContainer {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: center;
      align-items: stretch;
      margin: 8px;
      padding: .3em;
      border-radius: 50%;
      border: 1px solid rgba(231, 231, 231, 0.26);
      background-color: rgba(231, 231, 231, 0.98);
      &.warning {
        border: 1px solid rgb(217, 83, 79);
        background-color: rgb(217, 83, 79);
        .valveIconBorder {
          display: flex;
          justify-content: center;
          border: 1px solid rgb(217, 83, 79);
          background-color: rgb(217, 83, 79);
          .valveIconCheck {
            display: flex;
            justify-content: center;
            color: white;
            font-weight: bold;
          }
        }
      }
      .valveIconBorder {
        display: flex;
        flex: 1;
        align-items: stretch;
        border-radius: 50%;
        border: 1px solid rgba(68, 68, 68, 0.35);
        box-shadow: inset 0px 0px .1em .1em rgba(68, 68, 68, 0.25);
        background-color: white;
        .valveIconCheck {
          display: flex;
          justify-content: center;
          flex: 1;
          top: calc(50% - 24px);
          align-items: center;
          color: $valid-color;
          .material-icons {
            font-size: 3em;
          }
        }
      }
    }
  }
  .valveIconLabel {
    display: flex;
    position: relative;
    top: -7px;
    text-align: center;
  }
}
