@import "../../custom.config.scss";
@import "../../css/common-modal.scss";

.addUser {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  .addUserButton {
    color: black;
    margin: 15px;
    height: 40px;
    font-size: 1.2em;
    background-color: transparent;
    border: 2px solid $primary-color;
    border-radius: 4px;
  }
}

.addUserModal {
  .addUserModalButton {
    display: flex;
    width: 100%;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 0.9em;
    height: 40px;
    justify-content: center;

    &.add {
      background-color: $primary-color;
    }
  }
}