.userHeaders {
  display: flex;
  flex-direction: row;
  .userHeaderfield {
    width: 30%;
    text-align: center;
    font-weight: bold;
  }
  .userHeaderfield-15 {
    width: 15%;
    text-align: center;
  }
}
