.userHeaders {
  display: flex;
  flex-direction: row; }
  .userHeaders .userHeaderfield {
    width: 20%;
    text-align: center;
    font-weight: bold; }
  .userHeaders .userHeaderfield-15 {
    width: 15%;
    text-align: center; }
