.groupItemContainer {
  padding: 20px 25px;
  .groupItemNav {
    display: flex;
    justify-content: space-between;
    padding: 3px 5px;
    font-size: 18px;
    font-weight: bold;
    .groupItemNavLeft {
      width: 100px;
      .addNew {
        display: flex;
        justify-content: center;
        height: 25px;
        width: 25px;
        border-radius: 4px;
        background-color: #fdaa18;
        line-height: 36px;
        .material-icons {
          color: white;
        }
      }
    }
    .groupItemNavRight {
      display: flex;
      width: 100px;
      justify-content: flex-end;
      .material-icons {
        font-size: 30px;
      }
    }
  }
}
