.tabContainer {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  text-overflow: ellipsis; }
  .tabContainer.tabLabel {
    font-weight: bold; }
    .tabContainer.tabLabel .tabMain {
      font-size: 20px; }
  .tabContainer .tabMain {
    height: 100%;
    padding: 16px 22px;
    font-size: 16px;
    border-right: 1px solid rgba(111, 111, 111, 0.3);
    cursor: pointer;
    max-width: 220px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; }
  .tabContainer.active .tabMain {
    height: calc(100% + 1px);
    background-color: white; }
  .tabContainer.selected .tabMain {
    font-weight: bold; }
  .tabContainer .tabItem {
    height: 100%;
    padding: 16px 22px;
    font-size: 16px;
    border-right: 1px solid rgba(111, 111, 111, 0.3);
    cursor: pointer; }
    .tabContainer .tabItem:hover {
      background-color: #dddddd; }
