.admin {
  width: 100%;
  margin: 12px; }
  .admin .addUserButton {
    color: black;
    margin: 5px;
    height: 40px;
    font-size: 1.2em;
    background-color: transparent;
    border: 2px solid #fdaa18;
    border-radius: 4px; }
