.alertBar {
  display: none;
  min-width: 200px;
  max-width: 275px;
  height: 100%;
  height: 100vh;
  overflow-y: scroll;
  background-color: #444444;
  color: white; }
  .alertBar.show {
    display: flex;
    animation-name: showAlerts;
    animation-duration: 4s; }
