.drilldown {
  min-width: 250px;
  max-width: 420px;
  padding: 15px 30px;
  background-color: #444444;
  color: #cbcbcb;
  border-right: 1px solid black;
  height: 100%;
  flex: 1 0 0; }
  .drilldown .drilldownTitle {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px; }
  .drilldown .drilldownError {
    margin: 12px 0px;
    padding: 12px;
    height: 50px;
    border-radius: 4px;
    background-color: #ba2316;
    font-weight: bold;
    justify-content: space-between; }
  .drilldown .drilldownInfo {
    margin: 12px 0px; }
    .drilldown .drilldownInfo div {
      line-height: 18px; }
    .drilldown .drilldownInfo .nameInfo {
      font-size: 1.2em; }
    .drilldown .drilldownInfo .image {
      margin: 11px;
      display: flex; }
      .drilldown .drilldownInfo .image i.material-icons {
        font-size: 36px; }
  .drilldown .faults {
    justify-content: center;
    padding: 8px 0px; }
  .drilldown .drilldownData {
    padding: 24px 0px 0px;
    height: 100px; }
    .drilldown .drilldownData .drilldownDataColumn {
      align-items: center;
      font-size: 12px;
      line-height: 16px; }
      .drilldown .drilldownData .drilldownDataColumn .dataLabel {
        font-weight: bold; }
      .drilldown .drilldownData .drilldownDataColumn .data {
        margin-bottom: 9px; }
