@import '../../custom.config.scss';

.machineView {
  display: flex;
  flex-direction: column;
  padding: 20px 15px!important;
  background-color: #444444;
  height: calc(100vh - 108px);
  .departmentTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 24px;
    padding: 0px 0px 10px;
    color: white;
    .departmentNavRight {
      display: flex;
      flex-direction: row;
    }
  }
  .departmentChild {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px;
    margin: 6px;
    border-radius: 4px;
    color: $primary-color;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    &:hover {
      background-color: $secondary-color;
      color: white;
    }
  }
}
