.machineView {
  display: flex;
  flex-direction: column;
  padding: 20px 15px !important;
  background-color: #444444; }
  .machineView .departmentTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 24px;
    padding: 0px 0px 10px;
    color: white; }
    .machineView .departmentTitle .departmentNavRight {
      display: flex;
      flex-direction: row; }
  .machineView .departmentChild {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px;
    margin: 6px;
    border-radius: 4px;
    color: #f1a31b;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer; }
    .machineView .departmentChild:hover {
      background-color: #ba2316;
      color: white; }
