.machineView {
  display: flex;
  flex-direction: column;
  padding: 20px 25px;
  min-width: 350px;
  max-width: 400px;
  background-color: #444444;
  .departmentTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 24px;
    padding: 0px 0px 10px;
    color: white;
    .departmentNavRight {
      display: flex;
      flex-direction: row;
    }
  }
  .departmentChild {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px;
    margin: 6px;
    border-radius: 4px;
    color: #f1a31b;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    &:hover {
      background-color: #ba2316;
      color: white;
    }
  }
}
