.mainView {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  height: 100%;
  .row {
    height: 100%;
  }
  .mainViewItems {
    display: flex;
    justify-content: space-around;
  }
}

.addScroll {
  overflow-y: scroll;
  overflow-x: hidden;
}
