.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 45px;
  border-bottom: 1px solid grey; }
  .nav .toggleProfile {
    display: flex;
    justify-content: center;
    background-color: #fdaa18;
    height: 45px;
    width: 45px;
    padding: 10px;
    cursor: pointer; }
    .nav .toggleProfile .material-icons {
      font-size: 2em;
      color: white; }
  .nav .companyTitle {
    padding: 5px 20px;
    font-size: 21px; }
  .nav .spacing {
    display: flex;
    flex: 1; }
  .nav .rightNavIcons {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 20px; }
    .nav .rightNavIcons svg {
      margin: 0 15px; }
    .nav .rightNavIcons span {
      display: flex;
      flex-direction: row;
      align-items: center;
      cursor: pointer; }
      .nav .rightNavIcons span .material-icons {
        color: #7c7c7c;
        font-size: 2.6em; }
    .nav .rightNavIcons .badge-danger {
      background-color: #d9534f;
      left: -28px;
      position: relative; }
