.addItemButton {
  color: black;
  cursor: pointer; }
  .addItemButton .addItemWrapper {
    min-width: 300px;
    color: #666666; }
    .addItemButton .addItemWrapper .addItemTitle {
      font-size: 1.2em;
      padding: 0px 0px 5px; }
