.editItemButtonWrapper {
  cursor: pointer;
  .editItemWrapper {
    min-width: 300px;
    color: rgba(102, 102, 102, 1);
    .editItemTitle {
      font-size: 1.2em;
      padding: 0px 0px 5px;
    }
  }
  button {
    display: flex;
    width: 100%;
    margin: 22px 0px 0px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: .9em;
    height: 40px;
    justify-content: center;

    &.update {
      background-color: #fdaa18;
    }
    &.delete {
      background-color: #ba2316;
    }
  }
}
